:root {
  --player-color: #445a4e;
  --comp-color: #345874;
  --off-white-color: #fafcfb;
  --win-color: #2b6129;
  --lose-color: #ad0900;
  --text-black: #212121;
  --text-gray: #4e5560;
  --btn-color: #ddd;
  --round-detail-duration: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--off-white-color);
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: calc(100vh - 40px);
  color: var(--text-gray);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.sub-heading {
  font-size: 1.5rem;
  font-weight: 300;
}

.scoreboard {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px
    /* border: 2px solid red; */
}

.player-score,
.comp-score {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--off-white-color);
  padding: 8px 0;
  box-shadow: rgba(56, 56, 56, 0.25) 0px 5px 10px;
}

.player-score {
  background-color: var(--player-color);
}

.vs {
  font-size: 1.75rem;
}

.comp-score {
  background-color: var(--comp-color);
}

.selections {
  margin: 32px 0;
  width: 100%;
  display: flex;
}

.player-selection,
.round-details,
.comp-selection {
  display: flex;
  flex: 1;
}

.player-selection i,
.comp-selection i {
  padding: 16px;
  border-radius: 10px;
}

.player-selection {
  justify-content: flex-end;
}

.player-selection i {
  color: var(--player-color);
  border: 5px solid var(--player-color);
}

.comp-selection i {
  color: var(--comp-color);
  border: 5px solid var(--comp-color);
}

.round-details {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

.round-details-content {
  /* display: none; */
  animation: detailsReveal;
  animation-duration: var(--round-details-duration);
}


.round-details h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--win-color)
}

.selection-icon {
  font-size: 200px;
}

.player-choice {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

.restart-btn {
  display: none;
  display: inline-block;
  border: 5px solid var(--comp-color);
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-black);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(56, 56, 56, 0.25) 0px 5px 10px;
}

.restart-btn:hover {
  background-color: var(--comp-color);
  color: var(--off-white-color);
  transform: translateY(-2px);
  transition: all ease .3s;
}

.restart-btn:focus {
  outline: none;
  border: 4px solid var(--comp-color);
}

.player-choice h2 {
  font-size: 2rem;
  font-weight: 600;
}

.choices-container {
  display: flex;
  gap: 60px;
}

.player-choice i {
  padding: 8px;
  color: var(--player-color);
  transition: all ease 0.3s;
  cursor: pointer;
}

i {
  filter: drop-shadow(3px 5px 2px rgba(56, 56, 56, 0.2));
}

.choice-icon:hover {
  scale: 1.1;
}

.choice-icon:focus:focus {
  outline: none;
  border: 4px solid var(--player-color);
  border-radius: 10px
}

.footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: var(--player-color);
}

@keyframes detailsReveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .selection-icon {
    font-size: 180px;
  }
}

@media screen and (max-width: 1026px) {

  .selection-icon {
    font-size: 160px;
  }

  .round-details {
    font-size: 1.25rem;
  }

  .round-details h2 {
    font-size: 2rem;
  }

  .restart-btn {
    padding: 12px 28;
  }
}

@media screen and (max-width: 1026px),
(max-height:1366px) {
  main {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  .selections {
    margin: 52px 0;
  }

  .selection-icon {
    font-size: 140px;
  }

  .player-choice {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .sub-heading {
    font-size: 1.25rem;
  }

  .scoreboard p {
    font-size: 1rem;
  }

  .round-details {
    font-size: 1rem;
  }

  .round-details h2 {
    font-size: 1.5rem;
  }

  .restart-btn {
    padding: 8px 16px;
    font-size: 1rem;
  }

  .player-choice {
    gap: 50px;
  }

  .player-choice h2 {
    font-size: 1.5rem;
  }

  .selection-icon {
    font-size: 100px;
  }
}

@media screen and (max-width: 600px) {
  .selections {
    margin: 32px 0;
  }


  .round-details {
    font-size: 0.75;
  }

  .selection-icon {
    font-size: 72px;
  }

  .player-choice {
    gap: 60px;
  }

  .choice-icon {
    font-size: 80px;
  }
}

@media screen and (max-width: 480px) {

  h1 {
    font-size: 1.5rem;
    margin-top: 16px;
  }

  .sub-heading {
    font-size: 1rem;
  }

  .scoreboard {
    margin-top: 16px;
    flex-direction: column;
    gap: 10px;
  }

  .player-score,
  .comp-score,
  .vs {
    width: 75%;
    font-size: 0.75rem;
  }

  .vs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .selections {
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
  }

  .round-details {
    padding: 8px;
  }

  .player-choice {
    gap: 16px;
  }

  .player-choice h2 {
    font-size: 1.25rem;
  }

  .choices-container {
    gap: 24px;
  }

  .choice-icon {
    font-size: 56px;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.25rem;
  }

  .choices-container {
    gap: 20px;
  }

  .choice-icon {
    font-size: 48px;
  }
}